body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 20px;
}

.slider-container {
  margin: 20px 0;
}

.slider {
  margin: 10px 0;
  color: #333;
}

.slider label {
  display: block;
  margin-bottom: 5px;
}

.slider input {
  width: 50vw;
}

.results {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results p {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #333;
}